---
import type { getUserCommonTags } from "~/lib/models/tag.server";
import Tag from "../Tag";

interface Props {
  commonTags: Awaited<ReturnType<typeof getUserCommonTags>>;
}

const { commonTags } = Astro.props;
---

<section class="mb-2 max-w-3xl border border-card-border bg-card px-4 py-2">
  <h3 class="mb-2 block break-words text-xl font-normal lowercase">
    Most commonly used tags
  </h3>
  <p class="mb-2 break-words">Here's the tags you've used most often:</p>
  <ul class="flex flex-wrap gap-2">
    {
      commonTags.map((tag) => (
        <li>
          <a
            href={`/links?tags=${encodeURIComponent(tag.name)}`}
            data-umami-event="common-tag"
          >
            <Tag
              component="span"
              name={`${tag.name} (${tag._count.links})`}
              className="cursor-pointer"
              state="inactive"
            />
          </a>
        </li>
      ))
    }
  </ul>
</section>
