---
import AuthLayout from "~/layouts/AuthLayout.astro";
import UserSidebar from "~/components/UserSidebar.astro";
import Tag from "~/components/Tag";
import { ALL_TAGS_LIMIT, getUserTags } from "~/lib/models/tag.server";
import { getUserById } from "~/lib/models/user.server";

const userId = Astro.locals.userId!;
const user = await getUserById(userId);
if (!user) return new Response("Not Found", { status: 404 });

const tags = await getUserTags({ userId });
---

<AuthLayout title="Edit Tags">
  <div class="flex flex-col md:flex-row md:justify-center">
    <UserSidebar isAdmin={user.isAdmin} />
    <main class="flex-1 p-6 md:max-w-xl lg:max-w-2xl">
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-normal lowercase">Edit tags</h2>
        <p>Review and organise your tags.</p>
        {
          tags.length >= ALL_TAGS_LIMIT && (
            <div class="lowercase text-yellow-700">
              This list is limited to the first {ALL_TAGS_LIMIT} tags
            </div>
          )
        }
        <ul class="flex flex-wrap gap-2">
          {
            tags.map((tag) => (
              <li>
                <a href={`/user/tags/${encodeURIComponent(tag.name)}`}>
                  <Tag
                    name={tag.name}
                    className="cursor-pointer"
                    state="inactive"
                    client:load
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
  </div>
</AuthLayout>
