---
---

<aside class="p-6 md:h-full md:w-60 md:pr-0">
  <h3 class="text-xl font-normal lowercase">Admin</h3>
  <nav>
    <ul>
      <li>
        <a
          href="/admin"
          class="lowercase text-nav-link underline decoration-1 hover:text-nav-link hover:no-underline active:text-nav-link-active"
        >
          Admin
        </a>
      </li>
      <li>
        <a
          href="/admin/users"
          class="lowercase text-nav-link underline decoration-1 hover:text-nav-link hover:no-underline active:text-nav-link-active"
        >
          Users
        </a>
      </li>
      <li>
        <a
          href="/admin/invites"
          class="lowercase text-nav-link underline decoration-1 hover:text-nav-link hover:no-underline active:text-nav-link-active"
        >
          Invites
        </a>
      </li>
    </ul>
  </nav>
</aside>
